Repository vamsea2002/win, pull requests merged in 2022-03, with the labels that each got.

#15 edited
  .github/CODEOWNERS
  .github/workflows/dotnet.yml
Labels: automerge

#16 added feature1.1.6.txt
  feature1.1.6.txt
Labels: automerge

#17 Qa
  .github/workflows/dotnet.yml
  Features/Help.txt
Labels: automerge

#18 Qa
  .github/workflows/dotnet.yml
Labels: automerge

#19 Qa
  .github/workflows/dotnet.yml
  Features/feature1.txt
Labels: automerge

#20 ren
  Features/feature1.1.txt
Labels: automerge

#21 dotnet.yml
  .github/workflows/dotnet.yml
Labels: automerge

#22 Qa
  .github/workflows/dotnet.yml
Labels: automerge

#30 Update from dev
  .github/workflows/dotnet.yml
Labels: label1, label2, label3

#36 Pulling refs/heads/dev into master
  .github/workflows/dotnet.yml
Labels: auto-pr

#37 Pulling refs/heads/dev into master
  .github/workflows/dotnet.yml
Labels: auto-pr

#44 Update from dev
  Program.cs
Labels: automerge

#62 Update from dev
  .github/labeler.yml
  .github/workflows/add-labels.yml
  .github/workflows/dotnet.yml
  Program.cs
  feature/feature1.txt
  feature1.1.3.txt
  feature1.1.4.txt
  feature1.1.5.txt
  feature1.1.6.txt
Labels: automerge

#63 Update from dev
  .github/workflows/add-labels.yml
Labels: automerge

#64 added
  feature1.1.6.txt
Labels: automerge

#65 added fe2
  fe2.txt
Labels: automerge

#67 updated feature1.1.6.txt
  feature1.1.6.txt
Labels: automerge

#73 edit
  feature1.1.6.txt
Labels: automerge

#76 Automated Pull Request From dev Branch
  feature1.1.2.txt
Labels: automerge

#77 fe7
  feature1.1.4.txt
Labels: automerge

#82 Automated Pull Request From dev Branch
  feature1.1.6.txt
Labels: automerge

#89 Fe7
  .github/CODEOWNERS
  feature1.1.5.txt
Labels: automerge

#92 Automated Pull Request From dev Branch
  .github/workflows/add-labels.yml
Labels: automerge

#99 Automated Pull Request From dev Branch
  feature1.1.8.txt
Labels: automerge

#103 Automated Pull Request From dev Branch
  feature2.txt
Labels: automerge

#115 Automated Pull Request From dev Branch
  .github/workflows/add-labels.yml
  .github/workflows/dotnet.yml
Labels: automerge

#119 Automated Pull Request From dev Branch
  .github/workflows/dotnet.yml
  feature3.txt
  feature4.txt
Labels: automerge

#121 Automated Pull Request From dev Branch
  .github/workflows/dotnet.yml
Labels: automerge

#123 Automated Pull Request From dev Branch
  .github/workflows/dotnet.yml
Labels: automerge

#125 Automated Pull Request From dev Branch
  .github/workflows/dotnet.yml
  Program.cs
  feature1.1.3.txt
  feature1.1.5.txt
  feature4.txt
Labels: automerge

#127 Automated Pull Request From dev Branch
  Program.cs
  feature1.1.2.txt
  feature1.1.8.txt
  newFile.txt
Labels: automerge

#135 Automated Pull Request From dev Branch
  .github/workflows/dotnet.yml
Labels: automerge

#140 Automated Pull Request From dev Branch
  .github/workflows/dotnet.yml
  feature1.1.3.txt
  feature1.1.4.txt
  feature1.1.6.txt
Labels: automerge
